.light {
  --color-background: #ffffff;
  --color-text: #000000;
  --color-primary: #0070f3;
  --color-secondary: #7928ca;
}

.dark {
  --color-background: #000000;
  --color-text: #ffffff;
  --color-primary: #00a8ff;
  --color-secondary: #9d4edd;
}